<div class="modal fade" id="requestPasswordModal" tabindex="-1" role="dialog" aria-labelledby="requestPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="requestPasswordModalLabel">
                    {{ 'page.login.passwordForget.url'|trans }}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formRequestPassword) }}
                    <div class="md-form">
                        <i class="fas fa-user prefix grey-text"></i>
                        {{ form_widget(formRequestPassword._username) }}
                    </div>

                    <div class="auth-actions">
                        {{ form_widget(formRequestPassword.submit, { 'attr': { 'class': 'btn btn-dark-green btn-sm waves-effect waves-light'}}) }}
                    </div>
                {{ form_end(formRequestPassword) }}
            </div>
        </div>
    </div>
</div>
